.region {
  margin-top: 65px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
@media (max-width: 1160px) {
  .region {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.region .hero_title {
  font-weight: bold;
  font-size: 40px;
  color: #BC2539;
  margin-bottom: 0;
}
@media (max-width: 1160px) {
  .region .hero_title {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .region .hero_title {
    font-size: 24px;
    max-width: 100%;
    margin: auto;
  }
  .region{
    margin-bottom: 0;
  }
}
.region .hero_description {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 90px;
}
@media (max-width: 1160px) {
  .region .hero_description {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .region .hero_description {
    font-size: 18px;
    margin-top: 20px;
  }
}
.region .region_row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media (max-width: 1160px) {
  .region .region_row {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .region .region_row {
    gap: 30px 0;
    justify-content: center;
    flex-direction: column;
  }
}
.region .region_row .region_item {
  width: calc(50% - 37.5px);
  flex: 0 0 auto;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
}
@media (max-width: 1160px) {
  .region .region_row .region_item {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .region .region_row .region_item {
    width: 100%;
    height: 183px;
  }
}

.region .region_row .region_item:hover .item_texts p {
  color: #BC2539;
  transform: scale(1.03);
  transition: color .7s ease, transform .7s ease;
}
.region .region_row .region_item .item_img {
  height: 100%;
  width: 100%;
}
.region .region_row .region_item p {
  transition: 0.9s all ease;
}
.region .region_row .region_item img {
  width: 100%;
  height: 440px;
  border-radius: 15px;
  object-fit: cover;
  transition: 0.5s all ease;
}
.region .region_row .region_item .item_texts {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 124px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 1160px) {
  .region .region_row .region_item .item_texts {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .region .region_row .region_item .item_texts {
    padding: 10px;
    height: 45px;
  }
  .region .region_row .region_item img{
    height: 100%;
  }
}
.region .region_row .region_item .item_texts::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000082;
 /*  opacity: 0.47; */
}
.region .region_row .region_item .item_texts p {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  position: relative;
  transition: 0.3s all ease;
}
@media (max-width: 1160px) {
  .region .region_row .region_item .item_texts p {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .region .region_row .region_item .item_texts p {
    font-size: 13px;
  }
}
.region .region_row .region_item .item_texts p span {
  font-size: 24px;
  max-width: 411px;
  display: block;
  text-align: center;
  margin: auto;
}
@media (max-width: 1160px) {
  .region .region_row .region_item .item_texts p span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .region .region_row .region_item .item_texts p span {
    font-size: 12px;
  }
}
.region .section_title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 90px;
  margin-top: 0;
}
@media (max-width: 1160px) {
  .region .section_title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .region .section_title {
    font-size: 24px;
    margin-bottom: 40px;

  }
}
.region .flags_section {
  padding-top: 70px;
 
  padding-bottom: 110px;
  background-color: #f7f7f7;
}
@media (max-width: 1160px) {
  .region .flags_section {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.region .flags_row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
  width: 100%;
}
@media (max-width: 1160px) {
  .region .flags_row {
    margin-bottom: 25px;
    gap: 25px 0;
  }
}
@media (max-width: 768px) {
  .region .flags_row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .region .flags_section .container{
    margin: 0 13px;
  }
}
.region .flags_row.small {
  align-items: stretch;
}
@media (max-width: 768px) {
  .region .flags_row.small {
    align-items: center;
  }
}
.region .flags_row.small.high {
  margin-bottom: 0;
}
.region .flags_row.small .flags_item {
  justify-content: space-between;
}
.region .flags_row .flags_item {
  width: calc(21.5% - 34px);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  background-color: #fff;
  text-decoration: none;
  padding: 30px 15px 30px 30px;
  border-radius: 0 0 60px 0;
  overflow: hidden;
  box-shadow: 
  0px -4px 10px rgba(0, 0, 0, 0.12),  /* Yuqori tomoni (kichik va ochiqroq) */
  10px 0px 27px rgba(0, 0, 0, 0.08), /* O'ng tomoni (kengroq va ochiqroq) */
  0px 6px 10px rgba(0, 0, 0, 0.06),  /* Pastki tomoni (eng yengilroq soya) */
  -2px 0px 5px rgba(0, 0, 0, 0.04);  /* Chap tomoni (xira va yengil) */
}
@media (max-width: 1160px) {
  .region .flags_row .flags_item {
    width: calc(25% - 2.5px);
  }
}
@media (max-width: 768px) {
  .region .flags_row .flags_item {
    width: 100%;
  }
  
}
.region .flags_row .flags_item:nth-child(1) .comp_logo img {
  width: 230px;
  height: 100px;
  object-fit: contain;
}

.region .flags_row .flags_item:nth-child(1) .comp_logo {
  justify-content: start;
}
.region .flags_row .flags_item.last {
  height: 100%;
}
.region .small .flags_item:nth-child(2){
  gap: 20px 0;
}
.region .small1 .flags_item:nth-child(3) .comp_logo img{
  width: 150px;
}
.region .flags_row .flags_item.last .flags_name {
  margin-bottom: 20px;
}
/* .region .flags_row .flags_item img {
  width: 100%;
  height: 100%;
} */
.region .flags_row .flags_item .flags_name {
  display: flex;
  align-items: center;
  gap: 0 25px;
}
.region .flags_row .flags_item .flags_name img {
  height: 24px;
  width: 35px;
}
.region .flags_row .flags_item .flags_name span {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
@media (max-width: 768px) {
  .region .flags_row .flags_item .flags_name span {
    font-size: 12px;
  }
}
.region .flags_row .flags_item .item_description {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .region .flags_row .flags_item .item_description {
    font-size: 18px;
  }
  .region .flags_row .flags_item .comp_logo2{
    max-width: 100%; 
    height: 100%;
    object-fit: contain;
    justify-content: center;
  }
}
.region .flags_row .flags_item .comp_logo2{
  max-width: 100%; 
  height: 100%;
  object-fit: contain;
  justify-content: start !important;
}
.region .flags_row .flags_item .comp_logo {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .region .flags_row .flags_item .comp_logo img {
    width: max-content;
    height: max-content;
    max-width: 50% !important;
  }
  .region .assosinations .assosinations_company .company_item img {
    width: 150px !important;
  }
  .region .flags_row .flags_item .comp_logo2 img {
    width: 180px;
    height: 100px;
    object-fit: contain;
  }
}
.region .assosinations {
  padding: 90px 0 100px 0;
  background-color: #F7F1F1;
}
@media (max-width: 1160px) {
  .region .assosinations {
    padding: 45px 0 50px 0;
  }
  
}
@media (max-width: 1480px) {
  .region .flags_row .flags_item .comp_logo img {
    max-width: 100%; 
    height: 100%;
    object-fit: contain;
  }
  .region .flags_row .flags_item{
    width: calc(45% - 20px);
  }
  .region .small1 .flags_item:nth-child(3) .comp_logo img{
    width: 150px;
  }
  .region .flags_row {
    gap: 40px 0;
  }
  .region .flags_row.small{
    margin-bottom: 40px;
  }
  .region .flags_row .flags_item:nth-child(1) .comp_logo img{
    max-width: 100%; 
    height: 100%;
    object-fit: contain;
  }
  .region .flags_row .flags_item .item_description br{
    display: none;
  }
  .region .flags_row .flags_item .item_description{
    width: 100%;
  }
}
.region .assosinations .section_title {
  margin-bottom: 90px;
  margin-top: 0;
}
.region .assosinations .assosinations_company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 20px;
}
@media (max-width: 1160px) {
  .region .assosinations .assosinations_company {
    gap: 40px 20px;
  }
}
@media (max-width: 768px) {
  .region .assosinations .assosinations_company {
    justify-content: center;
  }
  .region .flags_row .flags_item:nth-child(1) .comp_logo img{
    margin: 0 auto;
  }
  .region .flags_row .flags_item{
    width: 100%;
  }
  .region .assosinations .section_title{
    margin-bottom: 45px;
  }
}
.region .assosinations .assosinations_company .company_item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.region .assosinations .assosinations_company .company_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}/*# sourceMappingURL=region.css.map */